*{
  font-size:18px;
  font-family: sans-serif;
  color: dark;
}

@media (max-width: 768px){
  body{
    background-color: orange;

  }
}

@media (max-width: 992px){
  body{
    background-color: orange;

  }
}

@media (max-width: 960px){
  body{
    background-color: orange;

  }
}
